@model EncuestasOrt.Pregunta

<link href="@Url.Content("~/Content/MiTemplate/css/Background.css")" rel="stylesheet" type="text/css" />

<div>
    <h4>Pregunta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Requerido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requerido)
        </dd>


        <dt>Opciones </dt>

        @foreach (var item in Model.Opcion)
        {
            <dd>
                @Html.DisplayFor(model => item.valor)
            </dd>
        }
        

    </dl>
</div>



<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver al listado", "Index", new { @class = "glyphicon glyphicon-step-backward" })
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


