@model EncuestasOrt.Pregunta

<link href="@Url.Content("~/Content/MiTemplate/css/Background.css")" rel="stylesheet" type="text/css" />




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Pregunta</h2>
             
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.UsuarioID)
        @Html.HiddenFor(model => model.Compartir)
        @Html.HiddenFor(model => model.EstadoInactivo)

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownList("Tipo", new SelectList(ViewBag.OpcionesPregunta, "Value", "Text"))
                @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Requerido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="btn-group" data-toggle="buttons">
                    @Html.EditorFor(model => model.Requerido)
                    @Html.ValidationMessageFor(model => model.Requerido, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <fieldset>
            <div class="form-group">

                <div class="control-label col-md-2"> <label>Opciones</label></div>
                <div class="col-md-10">
                    <button type="button" id="agregarOpcion" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-plus-sign"></span>Agregar Opción
                    </button>
                    <div id="new-option">

                        @foreach (var item in Model.Opcion)
                        {
                            @Html.Partial("_OpcionEditor", item)

                        }
                    </div>
                </div>
            </div>

        </fieldset>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-save"></span>Guardar
                </button>    
                
                <a class="btn btn-default btn-sm" href="@Url.Action("Index")">
                    Cancelar
                </a>
                            
            </div>
        </div>
    </div>
}



@section Scripts {

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript">

        $(document).ready(function () {

            $('#agregarOpcion').on('click', function () {
                $.ajax({
                    async: true,
                    url: '/Preguntas/AgregarOpcion',
                    data: "idPregunta=@Model.Id",

                }).success(function (partialView) {
                    $('#new-option').append(partialView);
                });
            });

            $('#new-option').on('click', '.deleteRow', function () {
                
                //var Opcion = $.trim($("#OpcionID").val());

               var Opcion = $(this).parent().children('input[id=OpcionID]').val();
                var datos = "idOpcion=" + Opcion;
                

                $.ajax({
                    async: true,
                    url: '/Preguntas/BorrarOpcion',
                    data: datos,

                }).success(function (partialView) {
                  //  $(this).parent('div').remove();
                });
                $(this).parent('div').remove();


            });

        });

    </script>
}

