<title>Preguntas</title>

<link href="~/Content/Grid/grid-0.4.3.min.css" rel="stylesheet" type="text/css">
<link href="@Url.Content("~/Content/MiTemplate/css/Background.css")" rel="stylesheet" type="text/css" />


<div class="container fill">
    <h2>Banco de preguntas</h2>
    <br />
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" id="search" class="form-control" placeholder="Buscar...">
                <span class="input-group-btn">
                    <button type="button" id="btnSearch" class="btn btn-default">Ir!</button>
                </span>
            </div>
        </div>
        <div class="col-md-9">
            <a class="btn btn-success pull-right" href="@Url.Action("Create")">
                <i class="icon-plus glyphicon glyphicon-plus-sign"></i> Nueva Pregunta
            </a>
            <!--<button type="button" id="btnAddPlayer" class="btn btn-default pull-right" onclick="window.location.href('@Url.Action("Preguntas", "Create")')">Agregar Pregunta</button>
            -->
        </div>
    </div>
    <br />
    <table id="grid" data-source="@Url.Action("GetPreguntas")"></table>

</div>

<!-- Modal  -->
<div class="modal fade" id="PreguntasModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Pregunta</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="Id" />
                    <div class="form-group">
                        <label for="Descripcion">Descripcion</label>
                        <input type="text" class="form-control" id="Descripcion" placeholder="Descripcion">
                    </div>
                    <!--
                    <div class="form-group">
                        <label for="Tipo">Tipo</label>
                        <input type="text" class="form-control" id="Tipo" placeholder="Tipo">
                    </div>-->

                    <div class="form-group">
                        <label for="Requerido">Requerido</label>
                        <input type="text" class="form-control" id="Requerido" placeholder="Requerido">
                    </div>
                </form>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" id="btnSave" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/ScriptsGrid/grid-0.4.3.min.js")

    <script type="text/javascript">
        var grid;
        function Add() {
            window.location.href = '/Preguntas/Create/';
        }
        function Edit(e) {
            $("#Id").val(e.data.id);
            $("#Descripcion").val(e.data.Descripcion);
            $("#Tipo").val(e.data.record.Tipo);
            $("#Requerido").val(e.data.record.Requerido);
            $("#optionRow").val(e.data.record.re);
            $("#PreguntasModal").modal("show");

        }
        function Save() {
            var Pregunta = {
                Id: $("#Id").val(),
                Descripcion: $("#Descripcion").val(),
                //Tipo: $("#Tipo").val(),
                Requerido: $("#Requerido").val(),
            };

            $.ajax({ url: "Preguntas/Save", type: "POST", data: { id: id } })
                .done(function () {
                    grid.reload();
                    $("#PreguntasModal").modal("hide");
                })
                .fail(function () {
                    alert("Unable to save.");

                    $("#PreguntasModal").modal("hide");
                });
        }
        function Remove(e) {
            window.location.href = '/Preguntas/Delete/' + e.data.id;
            
        }
        function Search() {
            grid.reload({ searchString: $("#search").val() });
        }
        function Guardar() {

            /*var id = $("#Id").val();
            $.ajax({ url: "Save", type: "POST", data: { id: id } })
                .done(function () {
                    grid.reload();
                })
                .fail(function () {
                    alert("Unable to save.");
                });*/
        }
        function Edit(e) {
            window.location.href = '/Preguntas/Edit/' + e.data.id;
            /* $("#Id").val(e.data.id);
             $("#Descripcion").val(e.data.record.Descripcion);
             $("#Tipo").val(e.data.record.Tipo);
             $("#Requerido").val(e.data.record.Requerido);
             $("#optionRow").val(e.data.record.modal.Tipo);
             $("#PreguntasModal").modal("show");*/
        }
        function Resultados(e) {
            var idpregunta = $("#grid").val();
            //var url = "/Preguntas/Resultados";
            window.location.href = '/Preguntas/Grafico/' + e.data.id;
            /*$.post(url, { id: id }, function (data) {
               $("#MostrarGrafico").html(data);
           }) */
            //window.location.href = '/Preguntas/View/' + id;
            //var url = '@Url.Action("View", "Preguntas", new { id = "__id__" })';
            //window.location.href = url.replace('__id__', id);
            /*$.ajax({ url: "/Preguntas/Resultados", type: "POST" })
                    .done(function () {
                        grid.reload();
                    })
                    .fail(function () {
                        alert("Unable to view.");
                    }); */
        }
        $(document).ready(function () {
            grid = $("#grid").grid({
                dataKey: "Id",
                uiLibrary: "bootstrap",
                columns: [
                    { field: "Id", width: 50, sortable: true },
                    { field: "Descripcion", sortable: true },
                    //{ field: "Tipo", width: 70, title: "Tipo", sortable: true },
                    //{ field: "Requerido", width: 110, title: "Requerido", sortable: true },
                    { title: "", field: "Resultados", width: 34, type: "icon", icon: "glyphicon glyphicon-th-list", tooltip: "Ver Estadisticas", events: { "click": Resultados } },
                    { title: "", field: "Edit", width: 34, type: "icon", icon: "glyphicon-pencil", tooltip: "Editar", events: { "click": Edit } },
                    { title: "", field: "Delete", width: 34, type: "icon", icon: "glyphicon-remove", tooltip: "Borrar", events: { "click": Remove } }
                ],
                pager: { enable: true, limit: 10, sizes: [5, 10, 15, 20] }
            });
            $("#btnAddPregunta").on("click", Add);
            $("#btnSave").on("click", Guardar);
            $("#btnSearch").on("click", Search);
        });
    </script>
}
