<h2>Preguntas asignadas a la encuesta</h2>
<br />

<div>
    <button type="button" class="btn btn-default pull-right"><a href="@Url.Action("Details", "Encuestas", new { @id = @ViewBag.IdEncuesta })">Finalizar</a></button>

    <button type="button" id="btnAddPregunta" class="btn btn-default">Crear Pregunta</button>
</div>

<div id="loader" style="display: none;">
    <p>Cargando...</p>
</div>


<div class="container fill">
    <br />
    <div id="preguntasAsignadas">
        @Html.Action("GetPreguntasAsignadas", "Preguntas", new { @id = ViewBag.idEncuesta })
    </div>

</div>


<div class="container fill">
    <h3>Banco de preguntas</h3>
    <br />

    <div id="preguntasNoAsignadas">
        @Html.Action("GetPreguntasSinAsignar", "Preguntas", new { @id = ViewBag.idEncuesta, idEncuesta = ViewBag.idEncuesta })
    </div>

</div>


<div class="modal fade" id="CrearPreguntaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Pregunta</h4>
            </div>
            <div class="modal-body">
                @Html.Action("GetNuevaPregunta", "Preguntas", new { @idEncuesta = ViewBag.idEncuesta }) 
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="EditPreguntaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Pregunta</h4>
            </div>
            <div class="modal-body">
                <div id="editarPregunta"></div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Grid")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/Grid/grid-0.4.3.min.css")
    @Styles.Render("~/Content/MiTemplate/css/Background.css")


    <script type="text/javascript">

        $(document).ready(function () {
            // Activo dropdown
            $('.dropdown-toggle').dropdown();

            // Remover Pregunta
            function RemoverPregunta(e) {

                $.ajax({ url: "@Url.Action("RemoverPregunta", "Encuestas")", type: "POST", async : true, data: { id: e.data.record.Id, encuestaId: @ViewBag.idEncuesta } })

            .done(function () {

                swal("Bien!", "Pregunta desasignada", "success")

            })
                .fail(function () {
                    swal("Oops!", "imposible de remover", "error")
                });

            }

            $("#btnAddPregunta").on("click", showMostrarPregunta);
            function showMostrarPregunta(){
                $("#CrearPreguntaModal").modal("show");

            }

            function actualizarAsignadas(){

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetPreguntasAsignadas", "Preguntas")",
                    async : true,
                    data: { "id" : "@ViewBag.idEncuesta" },
                    success: successFunc,
                    error: errorFunc
                });
            }

            function successFunc(result){
                $('#preguntasAsignadas').html(result);
            }

            function errorFunc(){
                swal("Oops...", "Error al obtener preguntas del banco", "error");
            }

            function actualizarNoAsignadas(){

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetPreguntasSinAsignar", "Preguntas")",
                    async : true,
                    data: { "id" : "@ViewBag.idEncuesta" },
                    success: noasignadasSuccess,
                    error: noasignadasError
                });

            }

            function noasignadasSuccess(result){
                $('#preguntasNoAsignadas').html(result);

            }
            function noasignadasError(){
                swal("Oops...", "Error al obtener preguntas del banco", "error");

            }

            $(document).on('click', '.btnAgregarPregunta', function (e) {
                e.preventDefault();

                var pregAgregar = $(this).parent().children('.valorPregunta').val();
                AgregarPregunta(pregAgregar);

                $(this).parents('.panel').remove(); // 2/8

                actualizarAsignadas();
               // actualizarNoAsignadas();


            });


            $(document).on('click', '.btnEditarPregunta', function (e) {
                e.preventDefault();

                var preguntaEditar = $(this).parent().children('.valorPregunta').val();
                EditarPregunta(preguntaEditar);


            });

            function EditarPregunta(idPregunta) {

                $.ajax({ url: "@Url.Action("GetEditarPregunta", "Encuestas")", type: "GET", async: true, data: { id: idPregunta, idEncuesta: @ViewBag.idEncuesta } })
            .done(function (result) {
                $('#editarPregunta').html(result);

                $("#EditPreguntaModal").modal("show");

            })
            .fail(function () {
                swal("Oops...", "Error al editar la pregunta", "error");

            });


            }


            function AgregarPregunta(idPregunta) {

                $.ajax({ url: "@Url.Action("AgregarPregunta", "Encuestas")", type: "POST", async: true, data: { id: idPregunta, encuestaId: @ViewBag.idEncuesta    } })
            .done(function () {

                swal("Bien!", "Pregunta agregada", "success")
                actualizarAsignadas();
               // actualizarNoAsignadas(); 2/8

            })
            .fail(function () {
                swal("Oops...", "Error al asignar la pregunta", "error");
            });

            }



            $(document).on('click', '.btnBorrarPregunta', function () {
                var pregARemover = $(this).parent().children('.valorPregunta').val();
                RemoverPregunta(pregARemover);
            });


            function RemoverPregunta(idPregunta) {

                $.ajax({ url: "@Url.Action("RemoverPregunta", "Encuestas")", type: "POST", async: true, data: { id: idPregunta, encuestaId: @ViewBag.idEncuesta } })

            .done(function () {

                swal("Bien!", "Pregunta eliminada", "success")
                actualizarAsignadas();
                actualizarNoAsignadas();

            })
                .fail(function () {
                    swal("Oops!", "imposible de eliminar", "error")
                });

            }

            $('body').on('click', '[data-toggle="collapse"]', function () {
                var collapsedId = $(this).attr('href');
                var isVisible = $(collapsedId + ' .panel-body').is(':visible');

                if (isVisible == true) {
                    $(collapsedId).collapse('hide');
                    return false;
                }
            })



            jQuery.ajaxSetup({
                beforeSend: function() {
                    $('#loader').show();
                },
                complete: function(){
                    $('#loader').hide();
                },
                success: function() {}
            });



        });







    </script>
}
