@*@model PagedList.IPagedList<EncuestasOrt.Models.DatosEncuesta>*@
@model EncuestasOrt.Models.MisEncuestasModel
@using PagedList.Mvc;


<style>
    .dropdown.dropdown-lg .dropdown-menu {
        margin-top: -1px;
        padding: 6px 20px;
    }

    .input-group-btn .btn-group {
        display: flex !important;
    }

    .btn-group .btn {
        border-radius: 0;
        margin-left: -1px;
    }

        .btn-group .btn:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

    .btn-group .form-horizontal .btn[type="submit"] {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .form-group .form-control:last-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
</style>


<div class="container">
    <h2>Encuestas</h2>

    <a class="btn btn-success pull-right" href="@Url.Action("Create")">
        <i class="icon-plus icon-plus glyphicon glyphicon-plus-sign"></i> Nueva encuesta
    </a>
   
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">

                <div>
@if (Model.filtros.Curso != null)
{
    if (Model.filtros.cursoDescripcion == "*" || Model.filtros.cursoDescripcion == null)
    {
        Model.filtros.cursoDescripcion = "CURSOS";
    }
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> @Model.filtros.cursoDescripcion <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">

    <li><a href="@Url.Action("Index", "Encuestas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = 0, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @estado = @Model.filtros.opcionEstado, @esPropia = @Model.filtros.esPropia, @curso = "*" })">Ver todos</a></li>
               
    @foreach (var cur in Model.filtros.Curso)
    {


            <li><a href="@Url.Action("Index", "Encuestas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = @Model.filtros.opcionTematicaId, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @estado = @Model.filtros.opcionEstado, @esPropia = @Model.filtros.esPropia, @curso = @cur })">@cur</a></li>

    }
                
             </ul>
            </div>
}

                @if (@Model.filtros.opcionEncuestaId != 4)
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> @Model.filtros.tematicaDescripcion <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">

                            <li><a href="@Url.Action("Index", "Encuestas", new { @tematicaId = 0, @materiaId = 0, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @esPropia = @Model.filtros.esPropia,@curso=Model.filtros.cursoDescripcion })">Ver todas</a></li>

                            @foreach (var tema in Model.filtros.tematicas)
                            {
                                <li><a href="@Url.Action("Index", "Encuestas", new { @tematicaId = @tema.Id, @materiaId = 0, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @esPropia = @Model.filtros.esPropia ,@curso=Model.filtros.cursoDescripcion })">@tema.Descripcion</a></li>
                            }

                        </ul>
                    </div>
                }

                @if (@Model.filtros.opcionTematicaId != null && @Model.filtros.opcionTematicaId > 0)
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> @Model.filtros.materiaDescripcion <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">

                            <li><a href="@Url.Action("Index", "Encuestas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = 0, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @estado = @Model.filtros.opcionEstado, @esPropia = @Model.filtros.esPropia,@curso=Model.filtros.cursoDescripcion })">Ver todas</a></li>

                            @foreach (var mat in Model.filtros.materias)
                            {
                                if (Model.filtros.opcionTematicaId == mat.TematicaID)
                                {
                                    <li><a href="@Url.Action("Index", "Encuestas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = @mat.Id, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @estado = @Model.filtros.opcionEstado, @esPropia = @Model.filtros.esPropia,@curso=Model.filtros.cursoDescripcion })">@mat.Descripcion</a></li>
                                }
                            }

                        </ul>
                    </div>
                }

                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> @Model.filtros.opcionEncuestaDescripcion <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@Url.Action("Index", "Encuestas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = @Model.filtros.opcionMateriaId, @opcionEncuestaId = 1, @estado = @Model.filtros.opcionEstado, @esPropia = @Model.filtros.esPropia,@curso=Model.filtros.cursoDescripcion })">Encuestas</a></li>
                        <li><a href="@Url.Action("Index", "Encuestas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = @Model.filtros.opcionMateriaId, @opcionEncuestaId = 2, @estado = @Model.filtros.opcionEstado, @esPropia = @Model.filtros.esPropia,@curso=Model.filtros.cursoDescripcion })">Plantillas</a></li>
                        <li><a href="@Url.Action("Index", "Encuestas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = @Model.filtros.opcionMateriaId, @opcionEncuestaId = 3, @estado = @Model.filtros.opcionEstado, @esPropia = @Model.filtros.esPropia,@curso=Model.filtros.cursoDescripcion })">Encuestas/Plantillas</a></li>
                        <li><a href="@Url.Action("Index", "Encuestas", new { @opcionEncuestaId = 4, @estado = @Model.filtros.opcionEstado, @esPropia = @Model.filtros.esPropia })">Plantillas Institucionales</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> @Model.filtros.opcionEstadoDescripcion <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@Url.Action("Index", "Encuestas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = @Model.filtros.opcionMateriaId, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @estado = 1, @esPropia = @Model.filtros.esPropia,@curso=Model.filtros.cursoDescripcion })">Activas</a></li>
                        <li><a href="@Url.Action("Index", "Encuestas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = @Model.filtros.opcionMateriaId, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @estado = 2, @esPropia = @Model.filtros.esPropia ,@curso=Model.filtros.cursoDescripcion})">Inactivas</a></li>
                        <li><a href="@Url.Action("Index", "Encuestas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = @Model.filtros.opcionMateriaId, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @estado = 3, @esPropia = @Model.filtros.esPropia,@curso=Model.filtros.cursoDescripcion })">Activas/Inactivas</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> @Model.filtros.esPropiaDescripcion <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@Url.Action("Index", "Encuestas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = @Model.filtros.opcionMateriaId, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @estado = @Model.filtros.opcionEstado, @esPropia = 0,@curso=Model.filtros.cursoDescripcion })">Todas</a></li>
                        <li><a href="@Url.Action("Index", "Encuestas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = @Model.filtros.opcionMateriaId, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @estado = @Model.filtros.opcionEstado, @esPropia = 1,@curso=Model.filtros.cursoDescripcion })">Propias</a></li>
                    </ul>
                </div>
            </div>

            </div>
        </div>
    </div>

    @foreach (var item in Model.encuestas)
    {
      
        <div class="panel-group" id="accordion-@item.encuesta.Id">

            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title">
                                            
                        @if(@item.encuesta.Estado == true)
                        {
                            <a data-toggle="collapse" data-parent="#accordion-@item.encuesta.Id" href="#@item.encuesta.Id"><i class="glyphicon glyphicon-plus"></i> <span class="badge" style="background-color:green; color:white;"><b>@item.encuesta.Id</b></span> @item.encuesta.Descripcion</a>
                            
                            if (@item.encuesta.EsTemplate == true)
                            {
                                <span class="badge" style="background-color: green; color: white;"><b>Plantilla</b></span> 
                            }
                            else
                            { 
                                <span class="badge" style="background-color: green; color:white;"><b>Encuesta</b></span> 
                            }
                            <!-- <span class="badge" style="background-color: green; color: white; "><b>Activa</b></span> -->
                            <span class="badge" style="background-color:lightgray; color:green;"><b>@item.encuesta.FechaHora.ToString("dd/MM/yyyy")</b></span> 
                        }
                        else
                        {
                            <a data-toggle="collapse" data-parent="#accordion-@item.encuesta.Id" href="#@item.encuesta.Id"><i class="glyphicon glyphicon-plus"></i> <span class="badge" style="background-color:red; color:white;"><b>@item.encuesta.Id</b></span> @item.encuesta.Descripcion</a>
                            
                            if (@item.encuesta.EsTemplate == true)
                            {
                                <span class="badge" style="background-color: red; color:white;"><b>Plantilla</b></span> 
                            }
                            else
                            {
                                <span class="badge" style="background-color: red; color:white;"><b>Encuesta</b></span> 
                            }
                            <!-- <span class="badge" style="background-color: red; color:white;"><b>Inactiva</b></span> -->
                            <span class="badge" style="background-color:lightgray; color:red;"><b>@item.encuesta.FechaHora.ToString("dd/MM/yyyy")</b></span> 
                        }

                        @if(@item.encuesta.MateriaID != null && @item.encuesta.MateriaID > 0)
                        {
                            <span class="badge" style="background-color:lightgray; color:black;"><b>@item.encuesta.Materia.Descripcion</b></span>
                        }
                        else
                        {
                            if(@item.encuesta.TematicaID != null && @item.encuesta.TematicaID > 0)
                            { 
                                <span class="badge" style="background-color:lightgray; color:black;"><b>@item.encuesta.Tematica.Descripcion</b></span>
                            }
                        }
                         
                    </h4>
                    <div class="btn-group pull-right">
                        @if (@item.encuesta.EsTemplate && @item.encuesta.Estado)
                        {
                            <a href="@Url.Action("CreateFromTemplate", "Encuestas", new { @id = @item.encuesta.Id })" class="btn btn--green btn-sm">Utilizar Encuesta</a>
                        }
                        @if (@item.cantidadEncuestasRealizadas > 0 && @item.puedoVerEstadistica == true)
                        {
                            <a href="@Url.Action("Resultados", "Encuestas", new { @id = @item.encuesta.Id })" class="btn btn--green btn-sm">Resultado</a>
                        }
                        @if (@item.cantidadEncuestasRealizadas == 0 && @item.puedoEditar == true)
                        {
                            <a href="@Url.Action("AsignarPreguntas", "Encuestas", new { @id = @item.encuesta.Id })" class="btn btn--green btn-sm">Preguntas</a>
                        }
                        @*<a href="@Url.Action("Details", "Encuestas", new { @id = @item.encuesta.Id })" class="btn btn--green btn-sm">Detalles</a>*@
                        
                        @if (@item.cantidadEncuestasRealizadas == 0 && @item.puedoEditar == true)
                        {
                            <a href="@Url.Action("Edit", "Encuestas", new { @id = @item.encuesta.Id })" class="btn btn--green btn-sm">Modificar</a>
                        }
                        
                        @if (@item.cantidadEncuestasRealizadas == 0 && @item.puedoEditar == true)
                        {
                            <a href="@Url.Action("Delete", "Encuestas", new { @id = @item.encuesta.Id })" class="btn btn-danger btn-sm">Borrar</a>
                        }
                    </div>

                </div>
                <div id="@item.encuesta.Id" class="panel-collapse collapse">
                    <div class="panel-body animated zoomOut">

                        <!-- Modificaciones realizadas por Gabriel el 21/07/2016 -->
                        @foreach (var preg in item.preguntas)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion-preg-@preg.Id" href="#@item.encuesta.Id-@preg.Id">@preg.Descripcion</a>
                                    </h4>
                                </div>
                                <div id="@item.encuesta.Id-@preg.Id" class="panel-collapse collapse">
                                    <div class="panel-body">

                                        @foreach (var opt in preg.Opcion)
                                        {
                                            <div class="col-md-4">
                                                @if (preg.Tipo == "radio")
                                                {
                                                <label style="color:gray"><input type="radio" disabled />@opt.valor &nbsp&nbsp&nbsp&nbsp&nbsp</label>
                                                }
                                                @if (preg.Tipo == "check")
                                                {
                                                <label style="color:gray"><input type="checkbox" disabled />@opt.valor &nbsp&nbsp&nbsp&nbsp&nbsp</label>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

        </div>

    }


</div>

 Pagina @(((PagedList.IPagedList<EncuestasOrt.Models.DatosEncuesta>)Model.encuestas).PageCount < ((PagedList.IPagedList<EncuestasOrt.Models.DatosEncuesta>)Model.encuestas).PageNumber ? 0 : ((PagedList.IPagedList<EncuestasOrt.Models.DatosEncuesta>)Model.encuestas).PageNumber) de @(((PagedList.IPagedList<EncuestasOrt.Models.DatosEncuesta>)Model.encuestas).PageCount)

@Html.PagedListPager(((PagedList.IPagedList<EncuestasOrt.Models.DatosEncuesta>)Model.encuestas), page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, tematicaId = Model.filtros.opcionTematicaId, materiaId = Model.filtros.opcionMateriaId, opcionEncuestaId = Model.filtros.opcionEncuestaId, estado = Model.filtros.opcionEstado, esPropia = Model.filtros.esPropia }))





@section Scripts {
    <script>
        $(document).ready(function () {


        



        });

    </script>
}
