@model EncuestasOrt.Models.ResponderEncuestaModel

<style>
    .list-group-item {
        position: relative;
        display: block;
        padding: 10px 15px; /* adjust here */
        margin-bottom: -1px;
        border: 1px solid #ddd;
        line-height: 1em; /* set to text height */
        min-height: 40px;
        min-height: 100px;
    }
</style>

@using (Html.BeginForm("Responder", "Encuestas", FormMethod.Post, new { @id = "formEncuesta" }))
{

    <div class="form__title">
        <h1 class="title">@ViewBag.TituloEncuesta</h1>
    </div>

    @Html.HiddenFor(m => Model.IdEncuesta)

    foreach (var item in Model.preguntas)
    {
        <div class="row">

            <div class="col-md-12">
                <!-- Titulo de la pregunta -->
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                            @item.Descripcion
                        </h3>

                        @if (item.Requerido == true)
                        {
                            <span class="label label-info right">Obligatoria</span>
                        }

                    </div>

                    <div class="panel-body">
                        <ul class="list-group">
                            @{ String itemID = String.Format("respuestas_{0}", item.Id); }

                            @foreach (var opt in item.Opcion)
                            {
                                string complexId = String.Format("respuestas_{0}_{1}", item.Id, opt.Id);

                                <li class="list-group-item col-xs-12 col-sm-6 col-md-5 col-lg-3">

                                    @if (item.Tipo == "radio")
                                    {
                                        <label>
                                            <input type="radio" id="@complexId" name="respuestas_@item.Id" value="@opt.Id" class="radiobutton" @if (item.Requerido) { @: required
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 }>

                                            @opt.valor
                                        </label>

                                    }
                                    @if (item.Tipo == "check")
                                    {
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="@complexId" name="respuestas_@item.Id" value="@opt.Id" class="checkbox" @if (item.Requerido) { @: required
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   }>
                                                @opt.valor
                                            </label>
                                        </div>
                                    }

                                </li>


                            }
                        </ul>

                    </div>

                </div>

            </div>
        </div>

    }

    <div class="col-xs-12 col-sm-6 col-md-3">
        <button type="submit" class="btn btn-success btn-sm btn-block" value="Submit" id="sendEncuesta">
            <span class="fa fa-send"></span>Enviar
        </button>
    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {

            var form = $("#formEncuesta");
            form.validate();

            $("#sendEncuesta").click(function () {

                if (form.valid()) {

                    form.submit();

                } else {

                    swal("Oops!", "¡Hay preguntas sin responder!", "error")

                }


            });


        });
    </script>



}


