@{

    ViewBag.Title = "Acerca de los Desarrolladores";
}

<link href="@Url.Content("~/Content/MiTemplate/css/animate.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/MiTemplate/css/prettyPhoto.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/MiTemplate/css/main.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/MiTemplate/css/timeline.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/MiTemplate/css/Background.css")" rel="stylesheet" type="text/css" />

<div class="clients-area center wow fadeInDown">
    <h2>
        Autores
    </h2>
    <p class="lead">
        Ésta página ha sido desarrollada por:
    </p>
</div>

<div class="container">
    <!-- Fernando -->
    <div class="col-md-4 wow fadeInDown">
        <div class="clients-comments text-center">
            <img src="@Url.Content("~/Content/MiTemplate/Imagenes/fer.png")" class="img-circle" alt="">

            <h3>
                Fernando Fondo
            </h3>
        </div>
    </div>
    <!--   VERONICA -->
    <div class="col-md-4 wow fadeInDown">
        <div class="clients-comments text-center">
            <img src="@Url.Content("~/Content/MiTemplate/Imagenes/vero.jpg")" class="img-circle" alt="">
            <h3 style="font-family: 'Century Gothic'">
                Verónica Reyno
            </h3>

        </div>
    </div>

    <!--  Gabriel -->
    <div class="col-md-4 wow fadeInDown">
        <div class="clients-comments text-center">
            <img src="@Url.Content("~/Content/MiTemplate/Imagenes/gabriel.png")" class="img-circle" alt="">
            <h3>
                Gabriel Vila
            </h3>

        </div>
    </div>


    <!--  Alejandro -->
    <div class="col-md-4 wow fadeInDown">
        <div class="clients-comments text-center">
            <img src="@Url.Content("~/Content/MiTemplate/Imagenes/alejandro.png")" class="img-circle" alt="">
            <h3>
                Alejandro Roldán
            </h3>

        </div>
    </div>

</div>
