@model EncuestasOrt.Encuesta

@{
    ViewBag.Title = "Ingrese a la Encuesta";
}

<style>

</style>

<link href="@Url.Content("~/Content/BoxLogin.css")" rel="stylesheet" type="text/css" />



@using (Html.BeginForm("Acceder", "Encuestas", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">

        <div class="row row-fluid">
            <!-- columna con logo de ORT -->
            <div class="col-xs-6 col-sm-4 hidden-xs">
                <br />
                <img class="img-responsive" src="@Url.Content("~/Content/MiTemplate/")imagenes/ORT.png" alt="" />
            </div>

            <!-- columna con login -->
            <div class="col-sm-4 ">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-lock"></span> Ingresar a encuesta
                    </div>
                    <div class="panel-body">                      
                            <div class="form-group">
                                <div class="col-sm-12 col-md-12">
                                    @Html.TextBoxFor(model => model.Id, new { @class = "form-control", placeholder="Numero" })
                                    @Html.ValidationMessageFor(model => model.Id)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 col-md-12">
                                    @Html.TextBoxFor(model => model.ClaveAcceso, new { @class = "form-control", placeholder = "Contraseña"})
                                    @Html.ValidationMessageFor(model => model.ClaveAcceso)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group last">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="submit" value="Ingresar" class="btn btn-default" />
                                </div>
                            </div>
                
                    </div>

                </div>
            </div>
            <div class="col-xs-6 col-sm-4"></div>
        </div>

        <!-- Fila con foto -->
        <div class="row hidden-xs hidden-sm">
            <img class="img-responsive center-block" src="@Url.Content("~/Content/MiTemplate/imagenes/banner.png")" alt="" />
        </div>
        <div class="row hidden-xs hidden-sm" style="margin-bottom: 70px;">
            <div class="col-sm-4 text-center">
                <h2>CREAR ENCUESTA</h2>
            </div>
            <div class="col-sm-4 text-center">
                <h2>RECOPILAR RESPUESTAS</h2>
            </div>
            <div class="col-sm-4 text-center">
                <h2>ANALIZAR RESULTADOS</h2>
            </div>
        </div>

    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
