@model EncuestasOrt.Models.DashboardModel

@using (Html.BeginForm("Index", "Dashboard"))
{
    @Html.AntiForgeryToken()
   

        <!-- The styles -->
        <!--
        <link id="bs-css" href="~/Content/Dashboard/css/bootstrap-cerulean.min.css" rel="stylesheet">
            -->
       <!-- <link href="~/Content/Dashboard/css/bootstrap-cerulean.min.css" rel="stylesheet" /> -->
        <link href="~/Content/Dashboard/css/charisma-app.css" rel="stylesheet">
        <link href='~/Content/Dashboard/bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
        <link href='~/Content/Dashboard/bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
        <link href='~/Content/Dashboard/bower_components/chosen/chosen.min.css' rel='stylesheet'>
        <link href='~/Content/Dashboard/bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
        <link href='~/Content/Dashboard/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
        <link href='~/Content/Dashboard/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
        <link href='~/Content/Dashboard/css/jquery.noty.css' rel='stylesheet'>
        <link href='~/Content/Dashboard/css/noty_theme_default.css' rel='stylesheet'>
        <link href='~/Content/Dashboard/css/elfinder.min.css' rel='stylesheet'>
        <link href='~/Content/Dashboard/css/elfinder.theme.css' rel='stylesheet'>
        <link href='~/Content/Dashboard/css/jquery.iphone.toggle.css' rel='stylesheet'>
        <link href='~/Content/Dashboard/css/uploadify.css' rel='stylesheet'>
        <link href='~/Content/Dashboard/css/animate.min.css' rel='stylesheet'>
        <link rel="shortcut icon" href="img/favicon.ico">
        <!-- tour -->
        <script src="~/Content/Tour/intro.js"></script>
        <link href="~/Content/Tour/introjs.css" rel="stylesheet" />



    <body onload="javascript:introJs().start();">

      
        @Html.HiddenFor(model => model.test, htmlAttributes: new { @id = "Test" })
        <div class="ch-container">
            <div class="row">
                    <div id="content" class="col-lg-10 col-sm-10">
                        <br />
                        <div class="row-fluid marketing">
                            <div class="span6" data-step="2" data-intro="Cada uno muestra la cantidad, apriete cada boton si se desea ver mas información del mismo" data-position='down'>

                                <div class=" row">
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <a data-toggle="tooltip" title="" class="well top-block" href="@Url.Action("Index", "Encuestas")">
                                            <i class="glyphicon glyphicon-list-alt"></i>

                                            <div>Total De Encuestas</div>
                                            <div>@Html.DisplayFor(model => model.Num_Encuestas) </div>
                                        </a>
                                    </div>

                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <a data-toggle="tooltip" title="" class="well top-block" href="@Url.Action("Index", "Encuestas")">
                                            <i class="glyphicon glyphicon-list-alt"></i>

                                            <div>Total De Plantillas</div>
                                            <div>@Html.DisplayFor(model => model.Num_Plantillas) </div>
                                        </a>

                                    </div>

                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <a data-toggle="tooltip" title="Encuestas Respondidas" class="well top-block" href="@Url.Action("Index", "Encuestas")">
                                            <i class="glyphicon glyphicon-list-alt"></i>

                                            <div>Total De Respuestas</div>
                                            <div>@Html.DisplayFor(model => model.Num_Respuestas) </div>
                                        </a>

                                    </div>

                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <a data-toggle="tooltip" title="Preguntas Creadas" class="well top-block" href="@Url.Action("Index", "Preguntas")">
                                            <i class="glyphicon glyphicon-question-sign"></i>

                                            <div>Total De Preguntas</div>
                                            <div>@Html.DisplayFor(model => model.Num_Preguntas) </div>
                                        </a>

                                    </div>

                                </div>

                            </div>
                        </div>




                        <div class="row">
                            <div class="box col-md-12">
                                <div class="span6" data-step="3" data-intro="Apriete el boton si se desea crear una nueva encuesta desde cero" data-position='down'>

                                    <div class="box-inner">
                                        <div class="box-header well">
                                            <h2><i class="glyphicon glyphicon-info-sign"></i> Introducción</h2>

                                            <div class="box-icon">
                                                <!--
                                                <a href="#" class="btn btn-setting btn-round btn-default">
                                                    <i class="glyphicon glyphicon-cog"></i>
                                                </a>
                                                    -->
                                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                                
                                                        <i class="glyphicon glyphicon-chevron-up"></i>
                                                
                                                </a>
                                                <!--
                                                <a href="#" class="btn btn-close btn-round btn-default">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </a>-->
                                            </div>
                                        </div>
                                        <div class="box-content row">
                                            <div class="col-lg-7 col-md-12">

                                                <h1>
                                                    Encuestas ORT <br>
                                                    <h3> Gratis, responsive y fácil de usar.</h3>
                                                </h1>
                                                <p>
                                                    <br>
                                                    Esta página le dejerá crear encuestas rápidamente.
                                                    ¿Qué espera?
                                                </p>

                                                <p class="center-block download-buttons">
                                                    <a href="@Url.Action("Index", "Encuestas")" class="btn btn-primary btn-lg">
                                                        <i class="glyphicon glyphicon-pencil"></i> Comenzar Encuestas
                                                    </a>
                                                </p>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <!--
                    <div class="box col-md-4">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2><i class="glyphicon glyphicon-list-alt"></i> Pie</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn btn-setting btn-round btn-default">
                                        <i class="glyphicon glyphicon-cog"></i>
                                    </a>
                                    <a href="#" class="btn btn-minimize btn-round btn-default">
                                        <i class="glyphicon glyphicon-chevron-up"></i>
                                    </a>
                                    <a href="#" class="btn btn-close btn-round btn-default">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </div>
                            </div>


                            <div class="row-fluid marketing">
                                <div class="span6" data-step="2" data-intro="Aqui estan los graficos..." data-position='right'>
                                    <div class="box-content">
                                        <div id="piechart" style="height:300px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box col-md-4">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2><i class="glyphicon glyphicon-list-alt"></i> Donut</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn btn-setting btn-round btn-default">
                                        <i class="glyphicon glyphicon-cog"></i>
                                    </a>
                                    <a href="#" class="btn btn-minimize btn-round btn-default">
                                        <i class="glyphicon glyphicon-chevron-up"></i>
                                    </a>
                                    <a href="#" class="btn btn-close btn-round btn-default">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="box-content">
                                <div id="donutchart" style="height: 300px;">
                                </div>
                            </div>
                        </div>
                    </div>-->
                            </div><!--/row-->
                            <!-- content ends -->
                        </div><!--/#content.col-md-0-->
                    </div><!--/fluid-row-->

                    <hr>

                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">

                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    <h3>Settings</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Here settings can be configured...</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                                    <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                                </div>
                            </div>
                        </div>
                    </div>



                </div><!--/.fluid-container-->
        <!-- external javascript -->

        <script src="~/Content/Dashboard/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- library for cookie management -->
        <script src="~/Content/Dashboard/js/jquery.cookie.js"></script>
        <!-- calender plugin -->
        <script src='~/Content/Dashboard/bower_components/moment/min/moment.min.js'></script>
        <script src='~/Content/Dashboard/bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
        <!-- data table plugin -->
        <script src='~/Content/Dashboard/js/jquery.dataTables.min.js'></script>

        <!-- select or dropdown enhancer -->
        <script src="~/Content/Dashboard/bower_components/chosen/chosen.jquery.min.js"></script>
        <!-- plugin for gallery image view -->
        <script src="~/Content/Dashboard/bower_components/colorbox/jquery.colorbox-min.js"></script>
        <!-- notification plugin -->
        <script src="~/Content/Dashboard/js/jquery.noty.js"></script>
        <!-- library for making tables responsive -->
        <script src="~/Content/Dashboard/bower_components/responsive-tables/responsive-tables.js"></script>
        <!-- tour plugin -->
        <script src="~/Content/Dashboard/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
        <!-- star rating plugin -->
        <script src="~/Content/Dashboard/js/jquery.raty.min.js"></script>
        <!-- for iOS style toggle switch -->
        <script src="~/Content/Dashboard/js/jquery.iphone.toggle.js"></script>
        <!-- autogrowing textarea plugin -->
        <script src="~/Content/Dashboard/js/jquery.autogrow-textarea.js"></script>
        <!-- multiple file upload plugin -->
        <script src="~/Content/Dashboard/js/jquery.uploadify-3.1.min.js"></script>
        <!-- history.js for cross-browser state change on ajax -->
        <script src="~/Content/Dashboard/js/jquery.history.js"></script>
        <!-- application script for Charisma demo -->
        <script src="~/Content/Dashboard/js/charisma.js"></script>
        <script src="~/Content/Dashboard/jquery.flot.js"></script>
        <script src="~/Content/Dashboard/jquery.flot.pie.js"></script>
        <script>
        debugger;
        var Test = $('#Test').val();

        //pie chart
        var data = [
        { label: "Internet Explorer", data: Test },
        { label: "Mobile", data: 27 },
        { label: "Safari", data: 85 },
        { label: "Opera", data: 64 },
        { label: "Firefox", data: 90 },
        { label: "Chrome", data: 112 }
        ];

        if ($("#piechart").length) {
            $.plot($("#piechart"), data,
            {
                series: {
                    pie: {
                        show: true
                    }
                },
                grid: {
                    hoverable: true,
                    clickable: true
                },
                legend: {
                    show: false
                }
            });

            function pieHover(event, pos, obj) {
                if (!obj)
                    return;
                percent = parseFloat(obj.series.percent).toFixed(2);
                $("#hover").html('<span style="font-weight: bold; color: ' + obj.series.color + '">' + obj.series.label + ' (' + percent + '%)</span>');
            }

            $("#piechart").bind("plothover", pieHover);
        }

        //donut chart
        if ($("#donutchart").length) {
            $.plot($("#donutchart"), data,
            {
                series: {
                    pie: {
                        innerRadius: 0.5,
                        show: true
                    }
                },
                legend: {
                    show: false
                }
            });
        }
        </script>

</body>
}