
<h2></h2>

@*@model PagedList.IPagedList<EncuestasOrt.Models.DatosEncuesta>*@
@model EncuestasOrt.Models.MisEncuestasModel
@using PagedList.Mvc;


<style>
    .dropdown.dropdown-lg .dropdown-menu {
        margin-top: -1px;
        padding: 6px 20px;
    }

    .input-group-btn .btn-group {
        display: flex !important;
    }

    .btn-group .btn {
        border-radius: 0;
        margin-left: -1px;
    }

        .btn-group .btn:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

    .btn-group .form-horizontal .btn[type="submit"] {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .form-group .form-control:last-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
</style>


<div class="container">
    <h2>Plantillas</h2>


    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">







                <div>

 
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" onmouseout="return ocultarFiltros(ID());"> @Model.filtros.PlantillaDescripcion <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="@Url.Action("Index", "Plantillas", new { @tematicaId = 0, @materiaId = 0, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @esPropia = @Model.filtros.esPropia,@curso=Model.filtros.cursoDescripcion, @fechaDesde = @Model.filtros.FechaDesde, @fechaHasta = Model.filtros.FechaHasta,@plantillaId = 0 ,@fechaRangoDesde= Model.filtros.FechaRangoDesde,@fechaRangoHasta = Model.filtros.FechaRangoHasta  })">Ninguna</a></li>
            @foreach (var Plantilla in Model.filtros.Plantilla)
            {


                <li><a href="@Url.Action("Index", "Plantillas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = @Model.filtros.opcionMateriaId, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @estado = @Model.filtros.opcionEstado, @esPropia = @Model.filtros.esPropia, @curso = Model.filtros.cursoDescripcion, @fechaDesde = @Model.filtros.FechaDesde, @fechaHasta = Model.filtros.FechaHasta, @plantillaId = Plantilla.Id,@fechaRangoDesde= Model.filtros.FechaRangoDesde,@fechaRangoHasta = Model.filtros.FechaRangoHasta  })">@Plantilla.Descripcion</a></li>

            }

        </ul>
    </div>
                    <div id="Filtros">

                        @if (Model.filtros.Curso != null)
                        {
                            if (Model.filtros.cursoDescripcion == "*" || Model.filtros.cursoDescripcion == null)
                            {
                                Model.filtros.cursoDescripcion = "CURSOS";
                            }
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> @Model.filtros.cursoDescripcion <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">

                                    <li><a href="@Url.Action("Index", "Plantillas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = 0, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @estado = @Model.filtros.opcionEstado, @esPropia = @Model.filtros.esPropia, @curso = "*", @fechaDesde = @Model.filtros.FechaDesde, @fechaHasta = Model.filtros.FechaHasta, @plantillaId = Model.filtros.PlantillaId ,@fechaRangoDesde= Model.filtros.FechaRangoDesde,@fechaRangoHasta = Model.filtros.FechaRangoHasta })">Ver todos</a></li>

                                    @foreach (var cur in Model.filtros.Curso)
                                    {


                                        <li><a href="@Url.Action("Index", "Plantillas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = @Model.filtros.opcionMateriaId, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @estado = @Model.filtros.opcionEstado, @esPropia = @Model.filtros.esPropia, @curso = @cur , @fechaDesde = @Model.filtros.FechaDesde, @fechaHasta = Model.filtros.FechaHasta, @plantillaId = Model.filtros.PlantillaId  ,@fechaRangoDesde= Model.filtros.FechaRangoDesde,@fechaRangoHasta = Model.filtros.FechaRangoHasta })">@cur</a></li>

                                    }

                                </ul>
                            </div>
                        }

                        @if (@Model.filtros.opcionEncuestaId != 4)
                        {
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> @Model.filtros.tematicaDescripcion <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">

                                    <li><a href="@Url.Action("Index", "Plantillas", new { @tematicaId = 0, @materiaId = 0, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @esPropia = @Model.filtros.esPropia,@curso=Model.filtros.cursoDescripcion, @fechaDesde = @Model.filtros.FechaDesde, @fechaHasta = Model.filtros.FechaHasta , @plantillaId = Model.filtros.PlantillaId ,@fechaRangoDesde= Model.filtros.FechaRangoDesde,@fechaRangoHasta = Model.filtros.FechaRangoHasta  })">Ver todas</a></li>

                                    @foreach (var tema in Model.filtros.tematicas)
                                    {
                                        <li><a href="@Url.Action("Index", "Plantillas", new { @tematicaId = @tema.Id, @materiaId = 0, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @esPropia = @Model.filtros.esPropia ,@curso=Model.filtros.cursoDescripcion , @fechaDesde = @Model.filtros.FechaDesde, @fechaHasta = Model.filtros.FechaHasta , @plantillaId = Model.filtros.PlantillaId ,@fechaRangoDesde= Model.filtros.FechaRangoDesde,@fechaRangoHasta = Model.filtros.FechaRangoHasta })">@tema.Descripcion</a></li>
                                    }

                                </ul>
                            </div>
                        }

                        @if (@Model.filtros.opcionTematicaId != null && @Model.filtros.opcionTematicaId > 0)
                        {
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> @Model.filtros.materiaDescripcion <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">

                                    <li><a href="@Url.Action("Index", "Plantillas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = 0, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @estado = @Model.filtros.opcionEstado, @esPropia = @Model.filtros.esPropia,@curso=Model.filtros.cursoDescripcion, @fechaDesde = @Model.filtros.FechaDesde, @fechaHasta = Model.filtros.FechaHasta  , @plantillaId = Model.filtros.PlantillaId ,@fechaRangoDesde= Model.filtros.FechaRangoDesde,@fechaRangoHasta = Model.filtros.FechaRangoHasta })">Ver todas</a></li>

                                    @foreach (var mat in Model.filtros.materias)
                                    {
                                        if (Model.filtros.opcionTematicaId == mat.TematicaID)
                                        {
                                            <li><a href="@Url.Action("Index", "Plantillas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = @mat.Id, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @estado = @Model.filtros.opcionEstado, @esPropia = @Model.filtros.esPropia,@curso=Model.filtros.cursoDescripcion, @fechaDesde = @Model.filtros.FechaDesde, @fechaHasta = Model.filtros.FechaHasta  , @plantillaId = Model.filtros.PlantillaId,@fechaRangoDesde= Model.filtros.FechaRangoDesde,@fechaRangoHasta = Model.filtros.FechaRangoHasta })">@mat.Descripcion</a></li>
                                        }
                                    }

                                </ul>
                            </div>
                        }

                            <input type="checkbox" id="Check" onclick="return Rango();"> Rango<br>                
                        <br />
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-body col-md-12">

                                    <div class="btn-group col-md-3" alingn="center">
                                        @if (Model.filtros.FechaDesde == null)
                                        {
                                            Model.filtros.FechaDesde = new DateTime(2016, 4, 1);

                                        }
                                        FECHA DESDE
                                        <input style="width: 85%; color:ButtonText;" type="date" value='@String.Format("{0:yyyy-MM-dd}", Model.filtros.FechaDesde)' onchange="filterDateFrom(this.value);" />

                                    </div>

                                    <div class="btn-group col-md-3" alingn="center">
                                        @if (Model.filtros.FechaHasta == null)
                                        {
                                            Model.filtros.FechaHasta = DateTime.Today;

                                        }
                                        FECHA HASTA
                                        <input style="width: 85%;  color:ButtonText;" type="date" value='@String.Format("{0:yyyy-MM-dd}", Model.filtros.FechaHasta)' onchange="filterDateUntil(this.value);" />
                                    </div>
                                    <div>
                                        <div class="btn-group col-md-3" alingn="center" id="rango">
                                          
                                            2DO RANGO FECHA DESDE
                                            <input style="width: 85%; color:ButtonText;" type="date" value='@String.Format("{0:yyyy-MM-dd}", Model.filtros.FechaRangoDesde)' onchange="filterRangeDateFrom(this.value);" />

                                        </div>
                                        
                                        <div class="btn-group col-md-3" alingn="center" id="rango2">
                                   
                                            2DO RANGO FECHA HASTA
                                            <input style="width: 85%;  color:ButtonText;" type="date" value='@String.Format("{0:yyyy-MM-dd}", Model.filtros.FechaRangoHasta)' onchange="filterRangeDateUntil(this.value);" />
                                        </div>
                                    </div>
                                    
                                    <a class="btn btn-success pull-right" href="@Url.Action("")">
                                        <i class="icon-plus icon-plus glyphicon glyphicon-plus-sign"></i> Graficar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

 


@section Scripts {

    <script>

        $(document).ready(function () {

            var x = document.getElementById("Check").checked;

            if ('@Model.filtros.FechaRangoDesde' != '' || '@Model.filtros.FechaRangoHasta' != '') {
                document.getElementById("Check").setAttribute("checked", "checked");
                $("#rango").show();
                $("#rango2").show();
            } else {

                $("#rango2").hide();
                $("#rango").hide();
            }
            console.log("estado del ", '@Model.filtros.PlantillaId');
            if ('@Model.filtros.PlantillaId' == 0 || '@Model.filtros.PlantillaId'=='') {

                $("#Filtros").hide();

            } else {
                $("#Filtros").show();

            }
            var Id = '@Model.filtros.PlantillaId';



            filterDateFrom = function (e) {


                var url = ' @Url.Action("Index", "Plantillas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = @Model.filtros.opcionMateriaId, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @estado = @Model.filtros.opcionEstado, @esPropia = @Model.filtros.esPropia, @curso = @Model.filtros.cursoDescripcion})';
                var rul = url.replace('amp;','');
                var lur = rul.replace('amp;','');
                console.log("fecha desde",lur);
                window.location.href = lur + '&fechaDesde=' + e + '&fechaHasta=' + '@String.Format("{0:yyyy-MM-dd}", Model.filtros.FechaHasta)'+ '&plantillaId='+ '@Model.filtros.PlantillaId';
            }
            filterDateUntil = function (e) {

                var url = '@Url.Action("Index", "Plantillas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = @Model.filtros.opcionMateriaId, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @estado = @Model.filtros.opcionEstado, @esPropia = Model.filtros.esPropia, @curso = Model.filtros.cursoDescripcion })';
                var rul = url.replace('amp;','');
                var lur = rul.replace('amp;','');
                window.location.href = lur + '&fechaDesde=' + '@String.Format("{0:yyyy-MM-dd}", Model.filtros.FechaDesde)' + '&fechaHasta=' + e+ '&plantillaId='+ '@Model.filtros.PlantillaId';
            }
            filterRangeDateFrom = function (e) {


                var url = ' @Url.Action("Index", "Plantillas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = @Model.filtros.opcionMateriaId, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @estado = @Model.filtros.opcionEstado, @esPropia = Model.filtros.esPropia, @curso = Model.filtros.cursoDescripcion})';
                var rul = url.replace('amp;','');
                var lur = rul.replace('amp;','');
                window.location.href = lur + '&fechaDesde=' + '@String.Format("{0:yyyy-MM-dd}", Model.filtros.FechaDesde)' + '&fechaHasta=' + '@String.Format("{0:yyyy-MM-dd}", Model.filtros.FechaHasta)' + '&plantillaId=' + '@Model.filtros.PlantillaId' + '&fechaRangoDesde=' + e + '&fechaRangoHasta=' + '@String.Format("{0:yyyy-MM-dd}", Model.filtros.FechaRangoHasta)';
              
            }
            filterRangeDateUntil = function (e) {

                var url = '@Url.Action("Index", "Plantillas", new { @tematicaId = @Model.filtros.opcionTematicaId, @materiaId = @Model.filtros.opcionMateriaId, @opcionEncuestaId = @Model.filtros.opcionEncuestaId, @estado = @Model.filtros.opcionEstado, @esPropia = Model.filtros.esPropia, @curso = Model.filtros.cursoDescripcion })';
                var rul = url.replace('amp;','');
                var lur = rul.replace('amp;','');
                window.location.href = lur + '&fechaDesde=' + '@String.Format("{0:yyyy-MM-dd}", Model.filtros.FechaDesde)' + '&fechaHasta=' + '@String.Format("{0:yyyy-MM-dd}", Model.filtros.FechaHasta)' + '&plantillaId=' + '@Model.filtros.PlantillaId' + '&fechaRangoDesde=' + '@String.Format("{0:yyyy-MM-dd}", Model.filtros.FechaRangoDesde)' + '&fechaRangoHasta=' + e;
            }




        });
        ocultarFiltros = function (e) {

            if (e == 0 || e =='') {

                $("#Filtros").hide();


            }

        }
        ID = function () {

            return '@Model.filtros.PlantillaId';
        }

        Rango = function () {
            var x = document.getElementById("Check").checked;

            if (x) {
                $("#rango").show();
                $("#rango2").show();
            } else {

                $("#rango2").hide();
                $("#rango").hide();
            }
        }
    </script>
}
